<!DOCTYPE html>
<html>
<head>
    <title>Donald Trump Tweet Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/font-awesome.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
 <body>
     <div class="tweet">
       <a href="#" class="follow"><i class="fa fa-twitter"></i>Follow</a>

       <div class="tweet--user">
         <img class="tweet--user-avatar profile_pic" src="{{ url_for('static', filename='donald.jpg') }}" alt="" />
         <div class="tweet--user-name">Donald Trump <img class="verified" src="{{ url_for('static', filename='verified.png') }}" alt="" /><span>@PresidentTrump</span></div>
       </div>

       <p class="tweet--body">{{ sentence }}</p>

       <div class="tweet--time">11:11 AM - 1 Jan 14</div>

       <div class="tweet--actions">
         <i class="fa fa-ellipsis-h"></i>
         <i class="fa fa-heart"></i>
         <i class="fa fa-retweet"></i>
         <i class="fa fa-reply"></i>
         <div class="new-tweet">
         <span>51 retweets</span>
        </div>
       </div>
     </div>
     <div class="button--wrapper">
         <form action="/">
             <button action="{{ url_for('hello') }}" class="new-tweet-btn real-btn">Real</button>
         </form>
         <form action="/">
             <button action="{{ url_for('hello') }}" class="new-tweet-btn">New Tweet</button>
         </form>
         <form action="/">
             <button action="{{ url_for('hello') }}" class="new-tweet-btn fake-btn">Fake</button>
         </form>
     </div>
     <!-- <p>This is a fake ass tweet from Donald Trump. Trust me, I'm not lying. Bet you can't guess if the Tweet generated is real or not. Go on, give it a shot.</p> -->
</body>
