<!DOCTYPE html>
<html>
<head>
    <title>Donald Trump Tweet Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <script type="text/javascript" href="{{ url_for('static', filename='leaderboard.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='fa/css/font-awesome.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>

    getID = function(x){
      return document.getElementById(x);
    }

    submitData = function(){

        var player = getID("player_name").value;
        var score = getID("player_score").value;

        var playerCell = document.createElement("mark");
        var playerCellText = document.createTextNode(player);
        playerCell.appendChild(playerCellText);

        var scoreCell = document.createElement("small");
        var scoreCellText = document.createTextNode(score);
        scoreCell.appendChild(scoreCellText);

        var row = document.createElement("li");
        row.appendChild(playerCell);
        row.appendChild(scoreCell);

        getID("player").appendChild(row);
    };


    </script>
</head>
 <body>
     <div class="title">
         <img src="{{ url_for('static', filename='title_pic.png') }}">
         <div id="score" class="text">0</div>
     </div>
     <div class="tweet">
       <a href="#" class="follow"><i class="fa fa-twitter"></i>Follow</a>

       <div class="tweet--user">
         <img class="tweet--user-avatar profile_pic" src="{{ url_for('static', filename='donald.jpg') }}" alt="" />
         <div class="tweet--user-name">Donald J. Trump <img class="verified" src="{{ url_for('static', filename='verified.png') }}" alt="" /><span>@fakeDonaldTrump</span></div>
       </div>

       <p class="tweet--body">{{ sentence }}</p>

       <div class="tweet--time">11:11 AM - 1 Jan 14</div>

       <div class="tweet--actions">
         <i class="fa fa-ellipsis-h"></i>
         <i class="fa fa-heart"></i>
         <i class="fa fa-retweet"></i>
         <i class="fa fa-reply"></i>
         <div class="new-tweet">
         <span>{{ count }} retweets</span>
        </div>
       </div>
     </div>

     <!---
     Buttons
    --->

    <div class="button__wrapper">
        <form action="/">
            <button action="{{ url_for('hello') }}" class="new-tweet-btn real-btn">Real</button>
        </form>
        <form action="/">
            <button action="{{ url_for('hello') }}" class="new-tweet-btn">New Tweet</button>
        </form>
        <form action="/">
            <button action="{{ url_for('hello') }}" class="new-tweet-btn fake-btn">Fake</button>
        </form>
    </div>
